
<launch>

  <param name="ur5_description" textfile="$(find ocs2_robotic_assets)/resources/mobile_manipulator/ridgeback_ur5/urdf/ridgeback_ur5_robotiq.urdf"/>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="ridgeback_base_to_ur5_base_static_tf_pub" args="0 0 0.28 3.141592653589793 0 0 base_link ur_arm_base_link_inertia" /> -->

  <node name="ur5_pybullet" pkg="ros_edf" type="ros_edf_env.py" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="ur5_description" />
    <!-- <remap from="joint_states" to="CUSTOM_TOPIC_NAME" /> -->
  </node>

  <include file="$(find ridgeback_ur5_robotiq_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node> -->

  <include file="$(find ridgeback_ur5_robotiq_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find ridgeback_ur5_robotiq_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find ridgeback_ur5_robotiq_moveit_config)/launch/moveit_custom.rviz"/>
  </include>

</launch>